<ion-item >
  <ion-thumbnail slot="start"> 
     <img [src]="item?.cover">
  </ion-thumbnail>
  <ion-label>
    <h4>{{item.name}}</h4>
    <p class="ion-text-wrap">{{item.desc}}</p>
    <ion-text><p>{{item.price}}</p></ion-text>
  </ion-label>

  <ion-row *ngIf="!item?.quantity || item?.qurantity <= 0" (click)="quantityPlus()">
    <ion-text class="ion-padding-horizontal" color="success">Add</ion-text>
  </ion-row>

  <ion-row *ngIf="item?.quantity > 0" >
    <ion-icon color="success" name="remove-outline" (click)="quantityMinus()"></ion-icon>
    <ion-text class="ion-text-center quantity" color="success">{{item?.quantity}}</ion-text>
    <ion-icon color="success" name="add-outline" (click)="quantityPlus()"></ion-icon>
  </ion-row>
</ion-item>
