ion-img {
    border-radius: 5px;
}

ion-input {
    font-size: 0.8rem;
}

.quantity {
    width: 2rem;
}

.price {
    width: 4rem;
}

ion-item {
    letter-spacing: 0.5px;
    ion-text {
        font-size: 0.8rem;
    }
    ion-label {
        font-size: 0.86rem;
    }
    ion-row {
        border: 1px solid var(--ion-color-medium);
        border-radius: 2px;
        padding: 0.3rem;
    }
    h5 {
        font-weight: bold;
    }
}
.dotStyle {
    border: 1px solid var(--ion-color-success);
    padding: 0 0.1rem; // top right bottom left
    margin-right: 2vw;
}

ion-footer {
    ion-text, p {
        font-size: 0.7rem;
    }
    ion-col {
        ion-label {
            margin-left: 5px;
        }
    }
}
.colStyle {
    background-color: var(--ion-color-success);
}

.make-payment{
    background-color: seagreen;
    border-radius: 1px round ;
    color: white;
}