<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="borderBottom">
    <ion-slides pager="true" [options]="slideOptions">
      <ion-slide>
        <div [ngStyle]="{'background-image':'url('+'assets/img/1.jpg'+')'}">
        </div>
      </ion-slide>
      <ion-slide>
        <div [ngStyle]="{'background-image':'url('+'assets/img/2.jpg'+')'}">
        </div>
      </ion-slide>
      <ion-slide>
        <div [ngStyle]="{'background-image':'url('+'assets/img/3.jpg'+')'}">
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->
  <div *ngIf="isLoading">
    <ion-skeleton-text animated style="height: 25vh;"> </ion-skeleton-text>
  </div>
  <app-banner *ngIf="!isLoading" [bannerImages]="banner"></app-banner>

  <ion-list>
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h3>
          Restaurants Nearby
        </h3>
        <p>
          Discover unique tastes near you
        </p>
      </ion-label>
    </ion-list-header>
    <!-- *ngFor="let restaurant of restaurent" -->

     <ion-list *ngIf="isLoading" >
       <ion-item lines="none" *ngFor="let item of dummy">
       <ion-thumbnail slot="start">
         <ion-skeleton-text animated></ion-skeleton-text>
       </ion-thumbnail>
       <ion-label>
         <h3><ion-skeleton-text style="width:50%"  animated></ion-skeleton-text></h3>
         <p><ion-skeleton-text style="width:80%"  animated></ion-skeleton-text></p>
         <p><ion-skeleton-text style="width:70%" animated></ion-skeleton-text></p>
         <p><ion-skeleton-text style="width:50%" animated></ion-skeleton-text></p>
       </ion-label>
      </ion-item>
     </ion-list>

     <app-restaurant *ngIf="!isLoading"  [restaurents]="restaurents"></app-restaurant> 
     
     <!-- <ion-item-group  *ngIf="restaurents?.length > 0">
          <app-restaurant *ngFor="let restaurent of restaurents" [restaurents]="restaurent"]></app-restaurant>
     </ion-item-group> -->
  </ion-list>

</ion-content>
