<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="borderBottom">
    <ion-slides pager="true" [options]="slideOptions">
      <ion-slide>
        <div [ngStyle]="{'background-image':'url('+'assets/img/1.jpg'+')'}">
        </div>
      </ion-slide>
      <ion-slide>
        <div [ngStyle]="{'background-image':'url('+'assets/img/2.jpg'+')'}">
        </div>
      </ion-slide>
      <ion-slide>
        <div [ngStyle]="{'background-image':'url('+'assets/img/3.jpg'+')'}">
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->
  <div *ngIf="isLoading">
    <ion-skeleton-text animated style="height: 25vh;"> </ion-skeleton-text>
  </div>
  <app-banner *ngIf="!isLoading" [bannerImages]="banner"></app-banner>

  <ion-list>
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h3>
          Restaurants Nearby
        </h3>
        <p>
          Discover unique tastes near you
        </p>
      </ion-label>
    </ion-list-header>
    <!-- *ngFor="let restaurant of restaurent" -->

    
      <app-loading-restaurant *ngIf="isLoading"></app-loading-restaurant>
     

     <app-restaurant *ngIf="!isLoading" [restaurants]="restaurants"></app-restaurant> 
     
     <!-- <ion-item-group  *ngIf="restaurents?.length > 0">
          <app-restaurant *ngFor="let restaurent of restaurents" [restaurents]="restaurent"]></app-restaurant>
     </ion-item-group> -->
  </ion-list>

</ion-content>
