h1{
    font-weight: bold;
    font-size: 1rem;
}

.dashed-border-bottom{
   border-bottom: 1px dashed var(--ion-color-medium);
   padding-bottom:1vh;
   margin-bottom: 1vh;;   
}

.veg{
    align-items: center;
    margin-right: 2px;
}