<ion-header>
  <ion-toolbar>
    <ion-searchbar
    mode="ios"
     animated="true"
     debounce="800"
     #searchBar
     (ionChange)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-restaurant *ngIf="isLoading"></app-loading-restaurant>

  <app-empty-screen *ngIf="!isLoading && (restaurant.length == 0 || query.length == 0)" [model]="model"></app-empty-screen>
  <ion-list *ngIf="!isLoading && restaurant.length > 0">
    <ion-list-header>
      <ion-label>
        <h4>search results for "{{query}}"</h4>
      </ion-label>
    </ion-list-header>
    <app-restaurant [restaurants]="restaurant"></app-restaurant>
  </ion-list>



</ion-content>
