<ion-header>
  <ion-toolbar>
    <ion-searchbar
    mode="ios"
     animated="true"
     debounce="800"
     #searchBar
     (ionChange)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-restaurant *ngIf="isLoading"></app-loading-restaurant>
  <ion-list>
    <ion-item-header>
      <ion-label>
        <h4>search results for "{{query}}"</h4>
      </ion-label>
    </ion-item-header>
    <app-restaurant [restaurants]="restaurant"></app-restaurant>
  </ion-list>



</ion-content>
