ion-label{
    h3{
        font-weight: bold !important;
        font-size: 1.2rem;
    }
    p{
        font-size: 0.9rem;
    }
}

ion-item{
    ion-thumbnail{
        height:15vh;
        width: 25vw;
        img{
            border-radius:5px;
            height: 100%;
            width: 100%;
        }
    }
}