<ion-item lines="none" (click)="ngOnInit()">
  <ion-thumbnail slot="start">
      <img src="assets/img/3.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Stayfit</h3>
    <ion-text>
      <p>Italian,Mexican</p>
    </ion-text>
    <span>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </span>
    25 Mins
    <ion-text>
      <h3>₹200/-</h3>
    </ion-text>
  </ion-label>
</ion-item>

 <!-- second list -->

 <ion-item lines="none">
  <ion-thumbnail slot="start">
      <img src="assets/img/2.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Veggies Strong</h3>
    <ion-text>
      <p>Italian,Mexican</p>
    </ion-text>
    <span>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </span>
    15 Mins
    <ion-text>
      <h3>₹150/-</h3>
    </ion-text>
  </ion-label>
</ion-item>
<!-- third list -->

<ion-item lines="none">
  <ion-thumbnail slot="start">
      <img src="assets/img/1.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Bread Toast</h3>
    <ion-text>
      <p>Italian,Mexican</p>
    </ion-text>
    <span>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
    </span>
    10 Mins
    <ion-text>
      <h3>₹100/-</h3>
    </ion-text>
  </ion-label>
</ion-item>
