
<ion-item *ngFor="let restaurent of restaurents"  (click)="ngOnInit()">
  <ion-thumbnail slot="start">
      <img [src]="restaurent.banner">
  </ion-thumbnail>
  <ion-label>
    <h3>{{restaurent.dish}}</h3>
    <ion-text>
      <p>{{restaurent.cuisine}}</p>
    </ion-text>
    <span>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </span>
    {{restaurent.time}}
    <ion-text>
      <h3>{{restaurent.price}}-</h3>
    </ion-text>
  </ion-label>
</ion-item>

 <!-- second list -->

 <!-- <ion-item lines="none">
  <ion-thumbnail slot="start">
      <img src="assets/img/2.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Veggies Strong</h3>
    <ion-text>
      <p>Italian,Mexican</p>
    </ion-text>
    <span>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </span>
    15 Mins
    <ion-text>
      <h3>₹150/-</h3>
    </ion-text>
  </ion-label>
</ion-item> -->


<!-- third list -->

<!-- <ion-item lines="none">
  <ion-thumbnail slot="start">
      <img src="assets/img/1.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Bread Toast</h3>
    <ion-text>
      <p>Italian,Mexican</p>
    </ion-text>
    <span>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
    </span>
    10 Mins
    <ion-text>
      <h3>₹100/-</h3>
    </ion-text>
  </ion-label>
</ion-item> -->
