ion-icon {
    align-self: end;
}

.ios {
    ion-item-divider {
        font-weight: bold !important;
        font-size: 0.8rem;
        padding: 2vh;
        background-color: var(--ion-color-light);
    }
}